.cardImg {
  opacity: .1;
  transition: opacity .25s ease-in-out;
}

.cardImg:hover, 
.cardImg:active {
  opacity: 1.0;
  transition: opacity .25s ease-in-out;
}

a:hover {
  text-decoration: none;
}

body {
  width: 100%;
  min-width: fit-content;
}

.active {
  border-bottom: 2px solid white;
  color: white;
  padding-bottom: 5px;
}

.code {
  background-color:#e8e4e4;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}